<div class='h-screen w-full flex justify-center items-center'>
  <mat-card class='p-4 max-w-md w-full'>
    <mat-card-title class='text-center text-4xl pb-2'>Sign In</mat-card-title>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class='w-full'>
        <mat-label>Correo electrónico</mat-label>
        <input [(ngModel)]="userSignIn.email" matInput type='email' name="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class='w-full'>
        <mat-label>Contraseña</mat-label>
        <input [(ngModel)]="userSignIn.password" matInput type='password' name='password'>
      </mat-form-field>
      <button
        class='w-full'
        color="primary"
        mat-raised-button
        type='submit'
      >Ingresar</button>
    </form>
  </mat-card>
</div>